<!doctype html>
<html lang="{{language}}">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      
      <!-- Create Variable Title -->
      <title>
          {%block title%}

          {%endblock%}
      </title>
   </head>

   <body>
       <!-- Format Navigation Bar -->
       <nav class="navbar navbar-expand-md navbar-dark bg-dark">
           <a class="navbar-brand" href="{{url_for('default_page')}}">Context Aware Spell Checker</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
               <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Create Navigation Bar Items -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('default_page')}}">English <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('french_page')}}">French</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('german_page')}}">German</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('portuguese_page')}}">Portuguese</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('spanish_page')}}">Spanish</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Set up Flash Messages Display -->
        {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages%}
                {%for category, message in messages%}
                    <div class="alert alert-{{category}}">
                        <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}

        <body class="text-center">
            <br>
            
            <h2>
                {%block pageTitle%}
  
                {%endblock%}
  
            </h2>
  
            <br>
            <!--form action="{{ url_for('submit') }}" method="post">-->
                  <!--<textarea id="textArea" name="message" placeholder="{%block placeholder%}{%endblock%}" style="width:80%; height: 350px;; background-color: #212121; color: white;">
                  </textarea>
                  <br>-->
                  <div contenteditable="true" id="textArea" class='clickable'></div>
                  <!--input type="submit" value="{%block submitTextBtn%}{%endblock%}">

                  <br>
                  
              </form>
  
              <br>
  
              <!--form action="{{ url_for('submit') }}" method="post">
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile">
            </form>-->
  
          </body>

      <!-- Create Variable Space for Future Content -->
      {%block content%}
      

      {%endblock%}
      
      <!-- Optional JavaScript -->
      {%block script%}
      

      {%endblock%}

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <!--<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>-->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
      <script src = "{{url_for('static', filename='textProcessing.js')}}"></script>
      <script src = "{{url_for('static', filename='underlineWords.js')}}"></script>
    
    </body>

    
   <!-- Default Style Formats-->
   <style>
      body {
      background-color: #000000;
      color: rgb(129, 199, 178)
      }
   </style>
</html>