<!DOCTYPE html>
<html>
<head>
<title>Spell Checker</title>
</head>
<div class="top">
<h1><center> Spell Checker!!</center></h1>


<div class="navbar">
 
  <div class="dropdown">
    <button class="dropbtn">Select Languages
	
	<link rel="stylesheet" type="text/css" href="drpdwn css.css">
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <form action="file:///C:/Users/villasagaram/Desktop/SPELL/index.html">
        <button class = ".gfg" type="submit">
		<link rel="stylesheet" type="text/css" href="button.css">
            English
        </button>
    </form>
      <form action="file:///C:/Users/villasagaram/Desktop/SPELL/index.html">
        <button class = ".gfg" type="submit">
		<link rel="stylesheet" type="text/css" href="button.css">
            French
        </button>
    </form>
     <form action="file:///C:/Users/villasagaram/Desktop/SPELL/index.html">
        <button class = ".gfg" type="submit">
		<link rel="stylesheet" type="text/css" href="button.css">
            Spanish
        </button>
    </form>
    </div>
  </div>
</div>

</html>